<div class="container">
  <div class="navbar-left">
    <div class="profile-info">
      <div class="profile-img">
        <i class="bi bi-person-fill"></i>
      </div>
      <span>Rebecca Sanders</span>
      <span class="job-title">UX Designer</span>
      <span>rebecca.s@webseite.de</span>
      <span class="last-login">Last logged in: Today at 2.18pm</span>
    </div>
    <nav class="nav flex-column">
      <a class="nav-link" routerLink="/profile"><i class="bi bi-person-fill"></i> Profile</a>
      <a class="nav-link" routerLink="/settings"><i class="bi bi-gear-fill"></i> Settings</a>
      <a class="nav-link" routerLink="/billing"><i class="bi bi-credit-card-2-back"></i> Billing</a>
      <a class="nav-link" routerLink="/messages"><i class="bi bi-envelope-fill"></i> Messages</a>
      <a class="nav-link" routerLink="/drive"><i class="bi bi-grid-3x2-gap-fill"></i> Drive</a>
      <a class="nav-link active" routerLink="/reminders"><i class="bi bi-watch"></i> Reminders</a>
    </nav>
  </div>
  <div class="content">
    <h1 class="pro-headline">Reminders</h1>
  </div>
</div>
